.cards {
  margin-top: 40px;
  margin-left: 16px;
  margin-bottom: 28px;
}

.card__container {
  width: 375px;
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 12px;
}

.card__content {
  margin-right: 8px;
  width: 109px;
  height: 124px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__cashback {
  border: solid;
  border-color: #4CC3B0;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card__paid {
  border: solid;
  border-radius: 12px;
  border-bottom: 1px solid #4CC3B0;
  border-left: 1px solid #4CC3B0;
  border-top: 1px solid #F56BD6;
  border-right: 1px solid #F56BD6;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card__expenses {
  border: solid;
  border-color: #F56BD6;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card__name {
  padding-top: 12px;
}

.card__sum {
  font-weight: bold;
}

.card__image {
  padding-bottom: 12px;
}
