.story__carousel {
  margin-bottom: 40px;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 8px;
  margin-top: 32px;
  margin-left: 16px;
  width: 380px;
  overflow: hidden;
}

.pic {
  margin-left: 18px;
  margin-right: 4px;
  display: flex;
}
