.search {
  margin-left: 16px;
  margin-right: 44px;
  border: 1px solid #0B4288;
  padding: 5px 5px 5px 40px;
  border-radius: 18px;
  width: 259px;
  height: 20px;
  background: url(../../images/magnifier.svg) no-repeat 12px 1px;
  background-size: auto 80%;
  background-color: #EBEBEB;
}
